{% extends 'core/base.html' %}

{% block title %}About Us | {% endblock %}

{% block content %}
<div class="abt_section">
<div class = "abt_image">
    <!-- image here -->
</div>

<div class = "abt_content">
    <h2 class="abt_heading">About Us</h2>
    <span><!-- line here --></span>

    <p>Welcome to Eikarica, your number one source for all things. We're dedicated to giving you the very best of products, with a focus on three characteristics, ie: dependability, customer service and uniqueness.
Founded in 2021 by Techmihirnaik, Eikarica has come a long way from its beginnings from India. When Mihir Naik first started out, his passion for ie: helping other parents be more eco-friendly, providing the best equipment for his fellow citizens drove him to do intense research, quit his day job, and gave him the impetus to turn hard work and inspiration into to a booming online store. We now serve customers all over the world, and are thrilled to be a part of the quirky, eco-friendly, fair trade] wing of the industry.</p>


<p>We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>

<p>Sincerely,
Name, Mihir Naik, CEO, Founder</p>

    <ul class = "words">
        <li>Absolutely</li>

        <div class = "vertical-line"></div>

        <li>Positively</li>

        <div class = "vertical-line"></div>
        
        <li>Perfect</li>
    </ul>

    <ul class = "abt_icons">
        <li>
            <i class = "fa fa-twitter"></i>
        </li>
        <li>
            <i class = "fa fa-facebook"></i>
        </li>
        <li>
            <i class = "fab fa-google"></i>
        </li>
        <li>
            <i class = "fab fa-linkedin-in"></i>
        </li>
    </ul>
</div>
</div>
{% endblock %}

